.sidebar {
    background: $color-1 ;
    font-family: $font-1;
    height:100%;
    min-height:$min-height;
    border-radius: $border-radius;
    position: relative;
    display:grid;

    .id {
        display:flex: 
    }
}